/* Global settings */
:root {
    --color-primary: #880005;
    --color-secondary: #C8A374;
    --color-third: #5A5A5A;
    --color-black: #040404;
    --color-white: #fcfcfc;
    --font-heading: ff-meta-serif-web-pro;
    --font-text: proxima-nova;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family : "proxima-nova";
    src : url("https://use.typekit.net/af/d45b9a/000000000000000077359577/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/d45b9a/000000000000000077359577/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/d45b9a/000000000000000077359577/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display : auto;
    font-style : normal;
    font-weight : 400;
}

@font-face {
    font-family : "ff-meta-serif-web-pro";
    src : url("https://use.typekit.net/af/7ed1f6/0000000000000000773599aa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/7ed1f6/0000000000000000773599aa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/7ed1f6/0000000000000000773599aa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display : auto;
    font-style : normal;
    font-weight : 700;
}

@font-face {
    font-family : "ff-meta-serif-web-pro";
    src : url("https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display : auto;
    font-style : normal;
    font-weight : 500;
}

@font-face {
    font-family : "ff-meta-serif-web-pro";
    src : url("https://use.typekit.net/af/c00e0b/0000000000000000773599ad/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/c00e0b/0000000000000000773599ad/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/c00e0b/0000000000000000773599ad/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display : auto;
    font-style : normal;
    font-weight : 600;
}

/* Header styling start ---------------------------------*/

.mobile__header {
    width: 100vw;
    height: 5rem;
    background-color: var(--color-primary);
    display: flex;
    position: fixed;
    z-index: 10;
}

.mobile-header__logo {
    align-self: center;
    justify-self: center;
    width: 12rem;
    margin: 0 auto;
}

.mobile-header__burger-container {
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 2.67rem;
    position: absolute;
    right: 1rem;
    top: 1.3rem;
}

.mobile-header__burger-line {
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

/* Header styling end -----------------------------------*/

/* HERO styling start------------------------------------*/

.header-spacer-global {
    height: 1px;
    width: 100vw;
    margin-bottom: 4.95rem;
}

.hero-image-global {
    height: 14.6rem;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 130%;
    margin-bottom: 2.5rem;
}

/* HERO styling end------------------------------------*/


/* Aside styling start ---------------------------------*/
.desktop__aside {
    display: none;
}

/* Aside styling end -----------------------------------*/



/* Menu styling start ---------------------------------*/

.burger-menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    left: 100vw;
    top: 0;
    transition: 0.5s;
    z-index: 11;
}

.burger-menu--show {
    left: 0vw;
    transition: 0.5s;
}

#burger-close {
    color: var(--color-white);
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.burger-close__icon {
    display: flex;
    right: 1rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
}

.burger-close__icon::before {
    content: '';
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 0.25rem;
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--color-white);
    transform: rotate(45deg);
    border-radius: 0.5rem;
}

.burger-close__icon::after {
    content: '';
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 0.25rem;
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--color-white);
    transform: rotate(-45deg);
    border-radius: 0.5rem;
}

.burger-menu__nav-list {
    display: flex;
    flex-direction: column;    
    list-style: none;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 50vh;
    margin-top: 2rem;
}

.burger-menu__nav__list-item, .burger-menu-booking {
    font-family: var(--font-text);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.burger-menu__nav__list__link, .burger-menu-booking {
    color: var(--color-white);
}

.burger-menu__nav__list__link--current {
    color: var(--color-secondary);
}


.burger-menu-booking {
    margin: 4rem auto 0 auto;
    text-align: center;
    font-weight: 700;
} 


/* Menu styling end -----------------------------------*/

/* Global Text styling start -------------------------------- */

.main-heading-global {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--color-black);
}

.sub-heading-global {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 1.35rem;
    color: var(--color-black);
}

.heading-underline {
    height: 3px;
    background-color: var(--color-secondary);
    width: 4rem;
    margin-bottom: 0.6rem;
    margin-top: 0.5rem;
}

.main-text-global {
    color: var(--color-black);
    font-family: var(--font-text);
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}

.menus-heading-global {
    text-decoration: underline;
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.main-text-global--mtop {
    margin-top: 1rem;
}

/* Text styling end*/


/* Buttons styling start ---------------------------------*/
.btn__global-styling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
    height: 2.5rem;
    background-color: #fff;
    border: none;
    outline: 0.1rem solid #880005;
    cursor: pointer;
}

.btn__leaf-container {
    width: 3.5rem;
    height: 2.5rem;
    float: right;
    background-color: #880005;
}

.btn__leaf {
    margin: 0.7rem;
}

.btn__text-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.btn__text {
    color: #880005;
    font-family: var(--font-heading);
    font-weight: bold;
    text-transform: uppercase;
}

.btn__global-styling:hover .btn__text-container {
    background-color: #880005;
}

.btn__global-styling:hover .btn__text-container .btn__text {
    color: #fff;
}

.btn__global-styling-gold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
    height: 2.5rem;
    background-color: #fff;
    border: none;
    outline: 0.1rem solid #c8a374;
    cursor: pointer;
}

.btn__leaf-container-gold {
    width: 3.5rem;
    height: 2.5rem;
    float: right;
    background-color: #c8a374;
}

.btn__leaf-gold {
    margin: 0.7rem;
}

.btn__text-container-gold {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.btn__text-gold {
    color: #c8a374;
}

.btn__global-styling-gold:hover .btn__text-container-gold {
    background-color: #c8a374;
}

.btn__global-styling-gold:hover .btn__text-container-gold .btn__text-gold {
    color: #fff;
}

.btn-red__global-styling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
    height: 2rem;
    background-color: var(--color-primary);
    border: none;
    outline: 0.1rem solid var(--color-primary);
    cursor: pointer;
    font-family: var(--font-heading);
}

.btn-red__global-styling--gold {
    background-color: #fff;
    outline: 0.1rem solid #c8a374;
}

.btn-red__text-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.btn-red__text {
    color: #fff;
}

.btn-red__text--gold {
    color: #c8a374;
}

.btn-red__arrow-container {
    width: 3rem;
    height: 2rem;
    float: right;
    background-color: #880005;
}

.btn-red__arrow-container--gold {
    width: 3rem;
    height: 2rem;
    float: right;
    background-color: #fff;
}

.btn-red__arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* animation-name: arrow-rotate-counter-clockwise; */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes arrow-rotate-counter-clockwise {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.btn-red__arrow::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.2rem;
    background-color: white;
    transform: rotate(45deg);
    margin-top: 0.7rem;
    margin-left: 0.25rem;
}

.btn-red__arrow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.2rem;
    background-color: white;
    transform: rotate(-45deg);
    margin-top: 1.225rem;
    margin-left: 0.25rem;
}

.btn-red__arrow--gold {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    animation-name: arrow-rotate-clockwise;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}

@keyframes arrow-rotate-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.btn-red__arrow--gold::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.2rem;
    background-color: #c8a374;
    transform: rotate(45deg);
    margin-top: 0.7rem;
    margin-left: 0.25rem;
}

.btn-red__arrow--gold::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 0.2rem;
    background-color: #c8a374;
    transform: rotate(-45deg);
    margin-top: 1.225rem;
    margin-left: 0.25rem;
}

.unfold__global {
    display: none;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    outline: 0.1rem solid #c8a374;
}

.unfold__global--show {
    display: block;
}

/* Buttons styling end -----------------------------------*/



/* Footer styling start ---------------------------------*/

.temporary {
    height: 100vh;
}

footer {
    margin-top: 5rem;
    background-color: var(--color-third);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0rem 2rem 3rem 2rem;
    grid-template-areas: 
    "contact contact contact contact"
    "food food food food"
    "practical practical practical practical"
    "hours hours hours hours";
}

.footer-heading {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 1.7rem;
    margin-top: 3rem;
}

.footer__heading-underline {
    height: 3px;
    width: 2rem;
    background-color: var(--color-secondary);
    margin-bottom: 1.2rem;
}

.footer-links {
    color: var(--color-white);
    display: block;
}

.footer-contact {
    grid-area: contact;
}

.footer__contact-address {
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.footer__contact-phone, .footer__contact-mail, .footer-links{
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;
    line-height: 1.2;
}

.footer__contact-some {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.footer__contact-facebook{
    width: 3rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
}

.footer__contact-instagram {
    width: 3.5rem;
}

.footer-food {
    grid-area: food;
}

.footer-practical {
    grid-area: practical;
}

.footer-hours {
    grid-area: hours;
}

.footer__hours-kitchen, .footer__hours-timeofday {
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.footer__hours-timeofday {
    font-size: 1.3rem;
}

.footer__hours-hours {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 1.3rem;
    line-height: 1.2;
}

/* Footer styling end -----------------------------------*/

/* Blomster styling start */

/* Blomster styling end */

/* Forside styling start */
.main-hero-image {
    background-color: pink;
    padding-top: 2rem;
}

.text-centered {
    text-align: center;
}

.heading--white {
    color: #fff;
}

.text--white {
    color: #fff;
    font-size: 1rem;
    padding: 0 2rem;
}

.main-container {
    margin: 0 2rem;
}

.main__image{
    width: 100%;
    height: auto;
    margin-bottom: -3rem;
}

.btn__global-styling--center {
    margin: 0 auto;
    margin-top: 1.5rem;
}

.main__wrapper {
    margin-top: 4rem;
    display: grid;
    row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img img img img"
    "info info info info"
    ;
}

.main__info-about-image {
    grid-area: img;
}

.main__info-about {
    grid-area: info;
}

.main__info-menu-image {
    grid-area: img;
}

.main__info-menu {
    grid-area: info;
}

.main__info-beer-image{
    grid-area: img;
}

.main__info-beer {
    grid-area: info;
}

.main__info-party-image {
    grid-area: img;
}

.main__info-party {
    grid-area: info;
}

.main__info-meeting-image {
    grid-area: img;
}

.main__info-meeting {
    grid-area: info;
}

.main__info-event-image {
    grid-area: img;
}

.main__info-event {
    grid-area: info;
}

/* Forside styling end */



/* Menukort styling start */
.menu-grid-container {
    margin-top: 4rem;
    margin: 0 2rem;
    display: grid;
    row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu-info menu-info menu-info menu-info"
    "menu-cont menu-cont menu-cont menu-cont"
    "opening opening opening opening"
    ;
}

.menu-info-container__left {
    grid-area: menu-info;
}

.menu-container {
    grid-area: menu-cont;
}

..menu-info-container__right {
    grid-area: opening;
}

.menu-toggles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unfold-lunch__column-left, .unfold-lunch__column-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.unfold-lunch__dishes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.unfold-lunch__dishes-divided {
    width: 80%;
}

.menu-price__btm {
    display: flex;
    flex-direction: column-reverse;
}

.menu-price__multiple {
    margin-top: 1.5rem;
    text-align: right;
}

.unfold-lunch__fish, .unfold-lunch__green, .unfold-lunch__meat, .unfold-lunch__cheese{
    margin-bottom: 2rem;
}

.unfold-lunch__extra-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.unfold-lunch__extra-info p {
    margin-top: 1rem;
}

.menu-lunch__download {
    display: flex;
    margin: 2rem auto;
}

/* Menukort styling end */



/* Øl styling start */
.oel-hero-image {
    background-image: url(../images/oel-hero.jpg);
}

.oel-container {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "heading heading heading heading"
    "underline underline underline underline"
    "intro intro intro intro"
    "togo togo togo togo"
    "selection selection selection selection"
    "size size size size"
    "menu menu menu menu"
    "brygstuen brygstuen brygstuen brygstuen"
    ;
}

.oel-container__heading {
    grid-area: heading;
}

.oel-container__underline {
    grid-area: underline;
}

.oel-container__intro {
    grid-area: intro;
    margin-bottom: 1.8rem;
}

.oel-container__togo {
    grid-area: togo;
    margin-bottom: 1.8rem;
}

.oel-container__selection {
    grid-area: selection;
    text-align: center;
}

.oel-container-menucard__size {
    grid-area: size;
    text-align: center;
    margin-bottom: 1rem;
}

.oel-container-menucard__size > p {
    margin-top: 1rem;
}

.oel-container__menucard {
    grid-area: menu;
    border: 0.2rem solid var(--color-secondary);
    padding: 0.7rem 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "hejren"
    "raadyret"
    "egernet"
    "baeveren"
    "svanen"
    "raeven"
    "uglen"
    "storken"
    "guldsmeden"
    "button"
    ;
}

.oel-container-menucard__heading {
    color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: 1.2rem;
}

.oel-container-menucard__subheading {
    font-family: var(--font-heading);
    color: var(--color-black);
}

.oel-container-menucard__text {
    font-family: var(--font-text);
    color: var(--color-black);
}

.oel-container-menucard__hejren {
    grid-area: hejren;
}

.oel-container-menucard__raadyret {
    grid-area: raadyret;
}

.oel-container-menucard__egernet {
    grid-area: egernet;
}

.oel-container-menucard__baeveren {
    grid-area: baeveren;
}

.oel-container-menucard__svanen {
    grid-area: svanen;
}

.oel-container-menucard__raeven {
    grid-area: raeven;
}

.oel-container-menucard__uglen {
    grid-area: uglen;
}

.oel-container-menucard__storken {
    grid-area: storken;
}

.oel-container-menucard__guldsmeden {
    grid-area: guldsmeden;
}

.oel-container-menucard__button {
    grid-area: button;
    margin: 1rem auto;
}

.oel-container__brygstuen {
    grid-area: brygstuen;
}

.oel-container-brygstuen__img {
    width: 100%;
    margin: 3rem 0 1rem 0;
}

.oel-container__menucard > div {
    margin: 1rem 0;
}

/* Øl styling end */



/* Oplevelser styling start */

/* Oplevelser styling end */



/* Møder og konferencer styling start */

/* Møder og konferencer styling end */



/* Selskaber styling start */

/* Selskaber styling end */



/* Selskabsmenu styling start */

/* Selskabsmenu styling end */



/* Buffet styling start */

/* Buffet styling end */


/* Kontakt og info styling start */

.contact-hero-image {
    background-image: url(../images/bryggeri-skovlyst.jpg);
}

.contact-grid-container {
    margin: 0 2rem;
    display: grid;
    row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "intro intro intro intro"
    "hours hours hours hours"
    "general general general general"
    "giftcard giftcard giftcard giftcard"
    "job job job job";
}

.contact-grid-container__intro {
    grid-area: intro;
}

.contact-grid-container__contact {
    grid-area: general;
}

.contact-mail-container, .contact-phone-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.contact-mail-container__img, .contact-phone-container__img {
    width: 2.5rem;
    margin-right: 1rem;
}

.contact-grid-container__hours {
    grid-area: hours;
}

.contact-grid-container__giftcard {
    grid-area: giftcard;
}

.contact-grid-container__job {
    grid-area: job;
}

.contact-faq {
    margin: 4rem 2rem 0 2rem;
}

.faq-container {
    height: 28rem;
    overflow: hidden;
}

.faq-container__faq {
    display: flex;
    flex-direction: column;
}

.faq-heading {
    margin: 1.5rem 0 0.7rem 0;
}

.faq-button {
    margin: 1.5rem auto;
    font-size: 1rem;
    padding: 0.5em 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary);
    border: none;
    outline: 0.1rem solid var(--color-primary);
    cursor: pointer;
    font-family: var(--font-heading);
    color: var(--color-white);
}

.unfold-faq {
    height: auto;
}

.less-faqs {
    display: none;
}

.contact__hours-hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem 0;
}

.contact-grid-container-hours__open {
    margin-top: 1.5rem;
}

.contact-grid-container-hours__kitchen {
    margin: 1rem 0;
}

.contact-grid-container-hours__night {
    margin-top: 1rem;
}


/* Kontakt og info styling end */



/* Vores historie styling start */
.history-hero-image {
    background-image: url(../images/bryggeri-skovlyst.jpg);
}

.history-container__image {
    width: 100%;
    margin: 2.3rem 0;
}

.history__container {
    margin: 0 2rem 0 2rem;
}

/* Vores historie styling end */



/* Booking styling start */

/* Booking styling end */


@media only screen and (min-width: 700px) {

/* Header styling start ---------------------------------*/
.mobile__header {
    display: none;
}


/* Header styling end -----------------------------------*/

/* Hero image styling start -----------------------------------*/


.header-spacer-global {
    display: none;
}

.hero-image-global {
    margin-left: 19rem;
    height: 20rem;
    width: calc(100vw - 19rem);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2.5rem;
    background-position: center;
}

/* Hero image styling end -----------------------------------*/



/* Aside styling start ---------------------------------*/


/* Aside styling end -----------------------------------*/



/* Menu styling start ---------------------------------*/
.burger-menu {
    display: none;
}

.desktop__aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 19rem;
    height: 100vh;
    background-color: var(--color-primary);
}

.desktop__aside-logo {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}

.desktop__aside__logo-img {
    width: 100%;
}

.desktop__aside-nav {
    margin-top: 3rem;
    width: 100%;
}

.desktop__aside__nav-list {
    width: 100%;
    text-align: center;
    font-family: var(--font-text);
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desktop__aside__nav__list-item {
    width: 100%;
}

.desktop__aside__nav__list-link {
    width: 100%;
    color: var(--color-white);
    display: block;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    padding-top: 0.9rem;
}

.desktop__aside__nav__list-link:hover {
    color: var(--color-secondary);
}

.desktop__aside__nav__list-link--current {
    color: var(--color-secondary);
    border-right: 5px solid var(--color-secondary);
}

.desktop__aside-booking {
    border: 0.2rem solid var(--color-white);
    color: var(--color-white);
    font-family: var(--font-text);
    text-align: center;
    margin: 5rem 2rem;
    padding: 1rem 0.5rem;
}

.desktop__aside__booking-heading {
    font-size: 1.4rem;
}

.desktop__aside__booking-text {
    font-size: 0.9rem;
}


/* Menu styling end -----------------------------------*/



/* Buttons styling start ---------------------------------*/


/* Buttons styling end -----------------------------------*/



/* Footer styling start ---------------------------------*/
footer {
    background-color: var(--color-third);
    width: calc(100vw - 19rem);
    margin: 5rem 0 0 19rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0rem 6rem 3rem 6rem;
    grid-template-areas: 
    "contact food practical hours";
}

.footer__contact-some {
    display: flex;
    margin-top: 2rem;
    justify-content: start;
}

/* Footer styling end -----------------------------------*/



/* Blomster styling start */

/* Blomster styling end */



/* Forside styling start */
.main-container {
    width: calc(100vw - 19rem);
    margin-left: 19rem;
}

.text-centered {
    text-align: left;
    margin-left: 25rem;
    width: 25rem;
}

.text--white {
    padding: 0;
    margin-top: 1rem;
}

.main__image{
    width: 100%;
    height: auto;
    margin: 0;
}

.main__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 19.1rem;
}

.main__info--margin {
    margin-left: 2rem;
}

.btn__global-styling--center {
    margin: 0;
    position: relative;
    top: 1.6rem;
}

.main__wrapper {
    margin-top: 8rem;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". img img img img img info info info info . ."
    ". info-rev info-rev info-rev info-rev . img-rev img-rev img-rev img-rev img-rev ."
    ;
}

.main__wrapper--mtop {
    margin-top: 4rem;
}

.main__wrapper--reverse {
    margin: 0;
}

.main__wrapper--reverse {
    margin-top: 4rem;
}

.main__info-about-image {
    grid-area: img;
}

.main__info-about {
    grid-area: info;
}

.main__info-menu-image {
    grid-area: img-rev;
}

.main__info-menu {
    grid-area: info-rev;
}

.main__info-beer-image{
    grid-area: img;
}

.main__info-beer {
    grid-area: info;
}

.main__info-party-image {
    grid-area: img-rev;
}

.main__info-party {
    grid-area: info-rev;
}

.main__info-meeting-image {
    grid-area: img;
}

.main__info-meeting {
    grid-area: info;
}

.main__info-event-image {
    grid-area: img-rev;
}

.main__info-event {
    grid-area: info-rev;
}

/* Forside styling end */



/* Menukort styling start */

/* Menukort styling end */



/* Øl styling start */

/* Øl styling end */



/* Øl styling start */

.oel-hero-image {
    background-image: url(../images/oel-hero.jpg);
}

.oel-container {
    width: calc(100vw - 19rem);
    margin: 0 0 0 19rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". heading heading . . . . . . . . ."
    ". underline underline . . . . . . . . ."
    ". intro intro intro intro intro . . . . . ."
    ". togo togo togo togo togo togo . . . . ."
    ". selection selection . . . . . . . . ."
    ". . . size size size size size size . . ."
    ". menu menu menu menu menu menu menu menu menu menu ."
    ". brygstuen brygstuen brygstuen brygstuen brygstuen brygstuen brygstuen brygstuen brygstuen brygstuen ."
    ;
}

.oel-container__heading {
    grid-area: heading;
}

.oel-container__underline {
    grid-area: underline;
}

.oel-container__intro {
    grid-area: intro;
    margin-bottom: 1.8rem;
}

.oel-container__togo {
    grid-area: togo;
    margin-bottom: 1.8rem;
}

.oel-container__selection {
    grid-area: selection;
    text-align: left;
}

.oel-container-menucard__size {
    grid-area: size;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 3rem 0 1rem 0;
}

.oel-container-menucard__size > p {
    margin-top: 1rem;
}

.oel-container__menucard {
    grid-area: menu;
    border: 0.2rem solid var(--color-secondary);
    padding: 0.7rem 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". . hejren hejren hejren hejren hejren hejren hejren . ."
    ". . raadyret raadyret raadyret . egernet egernet egernet . ."
    ". . baeveren baeveren baeveren . svanen svanen svanen . ."
    ". . raeven raeven raeven . uglen uglen uglen . ."
    ". . storken storken storken . guldsmeden guldsmeden guldsmeden . ."
    ". . . . . . . . . button button"
    ;
}

.oel-container-menucard__heading {
    color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: 1.2rem;
}

.oel-container-menucard__subheading {
    font-family: var(--font-heading);
    color: var(--color-black);
}

.oel-container-menucard__text {
    font-family: var(--font-text);
    color: var(--color-black);
}

.oel-container-menucard__hejren {
    grid-area: hejren;
}

.oel-container-menucard__raadyret {
    grid-area: raadyret;
}

.oel-container-menucard__egernet {
    grid-area: egernet;
}

.oel-container-menucard__baeveren {
    grid-area: baeveren;
}

.oel-container-menucard__svanen {
    grid-area: svanen;
}

.oel-container-menucard__raeven {
    grid-area: raeven;
}

.oel-container-menucard__uglen {
    grid-area: uglen;
}

.oel-container-menucard__storken {
    grid-area: storken;
}

.oel-container-menucard__guldsmeden {
    grid-area: guldsmeden;
}

.oel-container-menucard__button {
    grid-area: button;
    margin: 1rem auto;
}

.oel-container__brygstuen {
    grid-area: brygstuen;
    display: flex;
    margin-top: 5rem;
}

.oel-container-brygstuen__info {
    margin-left: 5rem;
    margin-right: 0;
}

.oel-container-brygstuen__img {
    width: 50%;
    margin: 0;
}

.oel-container__menucard > div {
    margin: 1rem 0;
}

/* Øl styling end */



/* Oplevelser styling start */

/* Oplevelser styling end */



/* Møder og konferencer styling start */

/* Møder og konferencer styling end */



/* Selskaber styling start */

/* Selskaber styling end */



/* Selskabsmenu styling start */

/* Selskabsmenu styling end */



/* Buffet styling start */

/* Buffet styling end */



/* Kontakt og info styling start */

.contact-hero-image {
    background-image: url(../images/bryggeri-skovlyst.jpg);
}

.contact-grid-container {
    margin: 0 0 0 19rem;
    display: grid;
    row-gap: 4rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". intro intro intro intro . . . . . . ."
    ". general general general general . . hours hours hours hours ."
    ". giftcard giftcard giftcard giftcard . . job job job job .";
}

.contact-grid-container__intro {
    grid-area: intro;
}

.contact-grid-container__contact {
    grid-area: general;
}

.contact-mail-container, .contact-phone-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.contact-mail-container__img, .contact-phone-container__img {
    width: 2.5rem;
    margin-right: 1rem;
}

.contact-grid-container__hours {
    grid-area: hours;
}

.contact-grid-container__giftcard {
    grid-area: giftcard;
}

.contact-grid-container__job {
    grid-area: job;
}

.contact-faq {
    margin: 5rem 0 0 19rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". heading heading . . . . . . . . ."
    ". underline underline . . . . . . . . ."
    ". faq faq faq faq faq faq faq faq faq faq ."
    ". . . . . button button . . . . .";
}

.contact-faq__caption {
    grid-area: heading;
}

.contact-faq__underline {
    grid-area: underline;
}

.faq-container {
    grid-area: faq;
    height: auto;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.faq-container__faq {
    display: flex;
    flex-direction: column;
}

.faq-heading {
    margin: 1.5rem 0 0.7rem 0;
}

.faq-button {
    grid-area: button;
    margin: 1.5rem auto;
    font-size: 1rem;
    padding: 0.5em 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary);
    border: none;
    outline: 0.1rem solid var(--color-primary);
    cursor: pointer;
    font-family: var(--font-heading);
    color: var(--color-white);
}

.unfold-faq {
    height: auto;
}

.less-faqs {
    display: none;
}

.faq-hide {
    display: none;
}

.faq-show {
    display: flex;
}


.contact__hours-hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem 0;
}

.contact-grid-container-hours__open {
    margin-top: 1.5rem;
}

.contact-grid-container-hours__kitchen {
    margin: 1rem 0;
}

.contact-grid-container-hours__night {
    margin-top: 1rem;
}

/* Kontakt og info styling end */



/* Vores historie styling start */
.history-hero-image {
    background-image: url(../images/bryggeri-skovlyst.jpg);
}

.history-container__image {
    grid-area: img;
    width: 100%;
    margin: 2.3rem 0;
}

.history__container {
    margin: 0 0rem 0 19rem;
    width: calc(100vw - 19rem);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". heading heading heading heading heading heading . . . . ."
    ". underline underline underline underline underline underline . . . . ."
    ". vision vision vision vision . img img img img img ."
    ". history history history history . img img img img img ."
    ". history history history history . . . . . . ."
    ;
}

.history-container__heading {
    grid-area: heading;
}

.history-container__underline {
    grid-area: underline;
}

.history-container__vision {
    grid-area: vision;
    margin-bottom: 2.3rem;
}

.history-container__history {
    grid-area: history;
}

/* Vores historie styling end */



/* Booking styling start */

/* Booking styling end */
    
}